<section class="bg-custom-orange text-white shadow-md h-32">
    <div class="container mx-auto flex items-center justify-between p-4">
      <!-- Logo -->
      <div class="logo font-bold m-5">
        <img src="https://res.cloudinary.com/dutdah0l9/image/upload/v1720058694/Swiggy_logo_bml6he.png" alt="Logo" class="h-14">
      </div>
  
      <!-- Navbar List -->
      <div class="hidden font-bold text-xl md:flex space-x-8">
        <div class="cursor-pointer mt-2">Swiggy Corporates</div>
        <div class="cursor-pointer mt-2">Partner with Us</div>
        <div class="get-app">
          <button class="border text-white px-6 py-3 rounded-xl flex items-center space-x-1 hover:bg-orange-600 transition">
            <span>Get the App</span>
            <i class="fa-solid fa-arrow-up rotate-45"></i>
          </button>
        </div>
  
        <!-- Sign In - Removed nested button -->
        <div class="signin px-6 py-3 rounded-xl bg-black hover:text-custom-orange cursor-pointer" 
        (click)="toggleLoginLogout()">
     {{ loggedIn ? 'Logout' : 'Sign In' }}
   </div>
   
      </div>
  
      <!-- Mobile Menu Toggle -->
      <div class="md:hidden">
        <button class="text-gray-700">
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>
    </div>
  </section>
  