<app-navbar></app-navbar>

<section class="mx-auto py-10 space-y-3 w-full md:w-10/12 lg:w-9/12 px-4">
  <div
    class="flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0"
  >
    <!-- Section Title -->
    <div>
      <h4 class="font-bold text-2xl md:text-3xl lg:text-4xl">
        What's on your mind?
      </h4>
    </div>
    <!-- Arrow Buttons -->
    <div class="arrow-button flex space-x-2">
      <button
        (click)="moveLeft()"
        [disabled]="currentIndex === 0"
        class="bg-custom-gray p-3 md:p-5 rounded-full disabled:opacity-50 disabled:cursor-not-allowed"
      >
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <button
        (click)="moveRight()"
        [disabled]="currentIndex + visibleImages >= items.length"
        class="bg-custom-gray p-3 md:p-5 rounded-full disabled:opacity-50 disabled:cursor-not-allowed"
      >
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>

  <!-- Card Container -->
  <div class="card-div overflow-hidden w-full md:w-10/12 lg:w-5/8">
    <div
      class="card-list flex transition-transform duration-300 ease-in-out"
      [ngStyle]="{
        transform: 'translateX(' + (-currentIndex * 100) / visibleImages + '%)'
      }"
    >
      <div
        class="menu flex-shrink-0 w-1/2 sm:w-1/3 md:w-1/5"
        *ngFor="let item of items"
      >
        <button>
          <img
            [src]="item.src"
            [alt]="item.name"
            class="w-full h-auto rounded-lg"
          />
        </button>
      </div>
    </div>
  </div>
</section>

<section class="mx-auto py-10 space-y-3 w-full md:w-10/12 lg:w-9/12 px-4">
  <div
    class="flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0"
  >
    <!-- Section Title -->
    <div>
      <h4 class="font-bold text-2xl md:text-3xl lg:text-4xl">
        Top Restaurant Chains in Bhubaneswar
      </h4>
    </div>
    <!-- Arrow Buttons -->
    <div class="arrow-button flex space-x-2">
      <button
        (click)="moveLeftRes()"
        [disabled]="currentIndexRes === 0"
        class="bg-custom-gray p-3 md:p-5 rounded-full disabled:opacity-50 disabled:cursor-not-allowed"
      >
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <button
        (click)="moveRightRes()"
        [disabled]="
          currentIndexRes + visibleImagesRes >= restaurantCards.length
        "
        class="bg-custom-gray p-3 md:p-5 rounded-full disabled:opacity-50 disabled:cursor-not-allowed"
      >
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>

  <div
    class="flex overflow-hidden w-full md:w-10/12 lg:w-5/8 space-x-3 md:space-x-5 justify-between items-center"
  >
    <div
      class="flex transition-transform duration-300 ease-in-out w-full"
      [style.transform]="
        'translateX(' + (-currentIndexRes * 110) / visibleImagesRes + '%)'
      "
    >
      <div
        *ngFor="let restaurant of restaurantCards"
        class="flex-shrink-0 w-1/2 sm:w-1/3 md:w-1/3 lg:w-1/4 mr-4 md:mr-6"
      >
        <app-restaurant-card [restaurant]="restaurant"></app-restaurant-card>
      </div>
    </div>
  </div>
</section>
