<!-- Dark Overlay when Sidebar is Open -->
<div *ngIf="isOpen" class="fixed inset-0 bg-black opacity-50 z-10"></div>

<!-- Sidebar Container -->
<div
  class="fixed top-0 right-0 h-full bg-white shadow-lg transition-transform transform translate-x-full z-20 w-full sm:w-3/4 md:w-2/5 lg:w-1/3 p-6 sm:p-8 lg:p-10 overflow-y-auto"
  [ngClass]="{ 'translate-x-0': isOpen }"
>
  <!-- Close Button -->
  <button class="text-gray-500 text-2xl mb-6" (click)="closeLogin()">
    <i class="fa-solid fa-xmark"></i>
  </button>

  <!-- Title -->
  <h1 class="font-semibold text-2xl mb-6 text-center sm:text-left">
    {{ showRegister ? "Register" : "Login" }}
  </h1>

  <!-- Toggle Register/Login -->
  <div class="flex items-center justify-center sm:justify-start space-x-2 mb-6">
    <p class="text-gray-600">or</p>
    <button class="text-custom-orange font-semibold" (click)="toggleRegister()">
      {{ showRegister ? "Go to Login" : "Create an account" }}
    </button>
  </div>

  <!-- Divider -->
  <hr class="my-4 border-gray-300 w-1/3 sm:w-1/2 mx-auto sm:mx-0" />

  <!-- Login Form -->
  <div *ngIf="!showRegister">
    <input
      type="text"
      [(ngModel)]="phone"
      placeholder="Phone number"
      class="border w-full p-3 rounded mb-4 focus:outline-none focus:ring-2 focus:ring-custom-orange"
    />

    <input
      *ngIf="isExistingUser"
      type="password"
      [(ngModel)]="password"
      placeholder="Password"
      class="border w-full p-3 rounded mb-4 focus:outline-none focus:ring-2 focus:ring-custom-orange"
    />

    <button
      (click)="login()"
      class="bg-custom-orange text-white w-full py-3 rounded mb-4 hover:bg-orange-600 transition"
    >
      {{ loggedIn ? "Login" : "Continue" }}
    </button>

    <p class="text-gray-500 text-sm text-center sm:text-left">
      By clicking on Login, I accept the Terms & Conditions & Privacy Policy
    </p>
  </div>

  <!-- Registration Form -->
  <div *ngIf="showRegister">
    <input
      type="text"
      [(ngModel)]="phone"
      placeholder="Phone number"
      class="border w-full p-3 rounded mb-4 focus:outline-none focus:ring-2 focus:ring-custom-orange"
    />
    <input
      type="text"
      [(ngModel)]="name"
      placeholder="Name"
      class="border w-full p-3 rounded mb-4 focus:outline-none focus:ring-2 focus:ring-custom-orange"
    />
    <input
      type="email"
      [(ngModel)]="email"
      placeholder="Email"
      class="border w-full p-3 rounded mb-4 focus:outline-none focus:ring-2 focus:ring-custom-orange"
    />
    <input
      type="password"
      [(ngModel)]="password"
      placeholder="Password"
      class="border w-full p-3 rounded mb-4 focus:outline-none focus:ring-2 focus:ring-custom-orange"
    />
    <button
      (click)="createUser()"
      class="bg-custom-orange text-white w-full py-3 rounded mb-4 hover:bg-orange-600 transition"
    >
      Register
    </button>
  </div>
</div>

<app-popup #popup></app-popup>
