<app-navbar></app-navbar>

<section class="mt-20 mb-4 flex justify-center items-center">
  <div
    class="w-4/5 bg-white flex justify-between items-center border border-gray-300 rounded-lg px-3 py-4 text-lg mx-auto"
  >
    <input
      type="text"
      placeholder="Search for food or restaurants"
      class="outline-none mr-2 w-full font-bold"
      [(ngModel)]="searchTerm"
    />
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
</section>

<!-- Dynamic Menu Section -->
<section
  class="menu-section ml-48 mt-10"
  *ngIf="searchTerm && filteredMenus.length > 0"
>
  <div class="cards flex flex-col space-y-5">
    <div
      class="card flex gap-5 mr-40 rounded-lg cursor-pointer hover:bg-gray-300"
      *ngFor="let menu of filteredMenus"
    >
      <div>
        <img [src]="menu.src" [alt]="menu.name" class="rounded-lg" />
      </div>
      <div class="space-y-5 font-semibold text-2xl py-1">
        <h3 class="text-gray-600">{{ menu.name }}</h3>
        <h5 class="text-gray-500">{{ menu.type }}</h5>
      </div>
    </div>
  </div>
</section>

<section class="mx-auto py-10 space-y-3 w-9/12" *ngIf="searchTerm.length <= 0">
  <!-- Section Title -->
  <div>
    <h4 class="font-bold text-3xl ml-5">Popular Cuisines</h4>
  </div>

  <!-- Card Container -->
  <div class="card-div overflow-hidden w-5/8 mr-20">
    <div
      class="card-list flex transition-transform duration-300 ease-in-out"
      [ngStyle]="{ transform: 'translateX(' + -currentIndex * 268.5 + 'px)' }"
    >
      <div class="menu flex-shrink-0 w-1/12" *ngFor="let item of items">
        <button>
          <img
            [src]="item.src"
            [alt]="item.name"
            class="w-full h-auto rounded-lg"
          />
        </button>
      </div>
    </div>
  </div>
</section>

